.signup-wraper{
    width: 50%;
    margin: auto;
}
.title{
    text-align: center;
    margin-top: 25px;
}
.button-sty{
    display: grid;
    width: 60%;
    padding-left: 40%;
}

.icon-but{
    margin: 20px;
}
.icon-refresh{
    display: flex;
    justify-content: space-between;
}